/* CSS BY JACK HUA */
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
}
/* GLOBAL STYLES (mobile first/small) */
body{
    font-weight: 500;
}
header{
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    padding: 2rem;
    text-align: center;
    font-family: 'Playfair Display', serif;
}
header img{
    max-width: 150px;
    height: auto;
    margin-bottom: 1rem;
}
em{
    font-style: italic;
    font-size: medium;
}
h1{
    font-size: 3.25rem;
    margin-bottom: 1.25rem;
    font-weight: bolder;
}
nav ul{
    display: flex;
    justify-content: center;
    gap: 15vw;
    background-color: var(--champagne-gold);
    padding: 0.5rem 2rem;
}
nav a{
    text-decoration: none;
    color: var(--midnight-blue);
    font-weight: bold;
    font-size: 1.25rem;
}
main{
    padding: 1rem 1.75rem;
    font-family: 'Playfair Display', serif;
    color: var(--dark-charcoal);
}
h2{
    font-size: 1.75rem;
    margin: 0.5rem 0;
    font-weight: 500;
}
p{
    font-size: small;
    line-height: normal;
}
hr{
    border: none;
    border-top: 2px solid var(--champagne-gold);
    margin: 1rem 0;
}

#offerings-list{
    margin-top: 1.5rem;
    display: grid;
    gap: 1rem;
}

.offering{
    background-color: var(--olive-green);
    color: var(--soft-white);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

h3{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.offering ul{
    font-size: small;
    line-height: normal;
    list-style-type: disc;
    list-style-position: inside;
}
.gallery-list{
    margin-top: 1.5rem;
    display: grid;
    gap: 1rem;
}

figure{
    text-align: center;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
}
figure img{
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}
figcaption{
    color: var(--dark-charcoal);
    padding: 0.75rem;
    font-size: small;
    font-style: italic;
    border-radius: 0 0 8px 8px;
}
.gallery-button{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.gallery-button a {
    background-color: var(--olive-green);
    color: var(--soft-white);
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

footer{
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 1.5rem;
    font-size: small;
}
footer a{
    color: var(--champagne-gold);
    text-decoration: none;
    font-weight: bold;
}
#social-links{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 3rem;
}

/* MEDIA QUERY (medium) */
@media (min-width: 600px) {
    /* Styles for medium devices */
    nav ul{
        gap: 20vw;
    }
    #offering1{
        grid-area: offering1;
    }
    #offering2{
        grid-area: offering2;
    }
    #offering3{
        grid-area: offering3;
    }
    #offerings-list{
        grid-template-columns:  1fr 1fr;
        grid-template-areas: 
            "offering1 offering2"
            "offering3 offering3";
    }
    .gallery-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

/* MEDIA QUERY (large) */
@media (min-width: 900px) {
    /* Styles for large devices */
}

/* MEDIA QUERY (xl) */
@media (min-width: 1200px) {
    /* Styles for extra large devices */
}